* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo";
  .Page {
    margin: 24px;
    input {
      width: 100%;
      height: 48px;
      margin-top: 17px;
      outline: none;
      border: none;
      border-bottom: 1px solid #707070;
      &:focus {
        border-bottom: 1px solid #222222;
      }
    }
  }
}
