.Blue{
    background-color: blue;
    font-size: 1.5rem;
    color: white;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    &:hover{
        font-size: 3rem;
    }
}